[submodule "vendor/cabal-helper"]
	path = vendor/cabal-helper
	url = https://github.com/robrix/cabal-helper.git
[submodule "vendor/ghc-mod"]
	path = vendor/ghc-mod
	url = https://github.com/robrix/ghc-mod.git
[submodule "vendor/HaRe"]
	path = vendor/HaRe
	url = https://github.com/robrix/HaRe.git
