[submodule "vendor/cabal-helper"]
	path = vendor/cabal-helper
	url = https://github.com/robrix/cabal-helper.git
[submodule "vendor/ghc-mod"]
	path = vendor/ghc-mod
	url = https://github.com/robrix/ghc-mod.git
[submodule "vendor/HaRe"]
	path = vendor/HaRe
	url = https://github.com/robrix/HaRe.git
[submodule "vendor/ghc-dump-tree"]
	path = vendor/ghc-dump-tree
	url = https://github.com/robrix/ghc-dump-tree.git
[submodule "vendor/brittany"]
	path = vendor/brittany
	url = https://github.com/robrix/brittany.git
[submodule "vendor/haskell-lsp"]
	path = vendor/haskell-lsp
	url = https://github.com/alanz/haskell-lsp.git
